	<div ng-controller="ServerController">
	      <div class="pull-right">
	      	<button type="button" class="btn btn-success add-server-button" ng-click="serverModal()">
	      		Add Server
	      	</button>
	      </div>
		  <div class="clearfix"></div>
		  	      
		  <accordion close-others="true">
			    <accordion-group ng-repeat="server in servers">
				    <accordion-heading>
			            {{server.dns || server.ip}}
			            <div class="pull-right"> 
			            	  <span class="badge">{{server.apps.length}}</span>
				              <button type="button" ng-click="serverModal(server)" class="btn btn-default btn-sm btn-edit" title="Edit">
				                 <span class="glyphicon glyphicon-pencil"></span>
				              </button>
				              
				              <button type="button" ng-click="remove(server)" class="btn btn-default btn-sm btn-remove" title="Remove it!">
				                 <span class="glyphicon glyphicon-remove"></span>
				             </button>
			            </div>
			        </accordion-heading>
			        <div class="server-info">
			        	<div>Running on <h5>{{server.ip}}. {{server.so}} - {{server.distro}}</h5></div>
			        </div>
			        
			        <div class="app-info">
				      	<button type="button" class="pull-right btn btn-success btn-sm add-server-button" ng-click="appModal(null, server.id)">
				        	Add Application
				        </button>
				        <div class="clearfix"></div>
				        
				        <ul class="list-group">
						  <li class="list-group-item" ng-repeat="app in server.apps">
						  	{{app.context}} - {{app.language}}
							<div class="pull-right"> 
								<button type="button" ng-click="appModal(app, server.id)" class="btn btn-default btn-sm btn-edit" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							         
								<button type="button" ng-click="removeApp(app)" class="btn btn-default btn-sm btn-remove" title="Remove it!">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</div>
						  </li>
						</ul>
					</div>
			    </accordion-group>
		  	</accordion>
	  	
		<script type="text/ng-template" id="serverModalForm.html">
         	<div class="modal-header">
             	<h3 class="modal-title">Server</h3>
         	</div>
            <form name="serverForm" ng-submit="serverForm.$valid && save()" novalidate class="form-horizontal">
         		<div class="modal-body">
 			           <div class="form-group">
             				<label class="col-md-4 control-label" for="server-id">IP</label>  
             				<div class="col-md-5">
             					<input id="server-id" name="server-id" ng-model="server.id" value="{{server.id}}" class="hidden"/>
             					<input id="ip" name="ip" ng-model="server.ip" type="text" class="form-control input-md" required>
             				</div>
             		  </div>
 				
             			<div class="form-group">
             				<label class="col-md-4 control-label" for="textinput">DNS</label>  
             				<div class="col-md-5">
             					<input id="dns" name="dns" ng-model="server.dns" type="text" class="form-control input-md" >
             				</div>
             			</div>
             				
             			<div class="form-group">
             				<label class="col-md-4 control-label" for="so">O.S</label>  
             				<div class="col-md-5">
             					<input id="so" name="so" ng-model="server.so" type="text" class="form-control input-md" required>
             				</div>
             			</div>
             				
             			<div class="form-group">
             				<label class="col-md-4 control-label" for="distribution">Distribution</label>  
             				<div class="col-md-5">
             					<input id="distribution" ng-model="server.distro" name="distribution" type="text" class="form-control input-md">
             				</div>
             			</div>
           			  </div>
         		</div>
         		<div class="modal-footer">
					<button type="submit" id="save" name="save" class="btn btn-primary">Save</button>
             		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
         		</div>
           	</form>
     	</script>  
     	
     	<script type="text/ng-template" id="appModalForm.html">
         	<div class="modal-header">
             	<h3 class="modal-title">Application</h3>
         	</div>
            <form name="appForm" ng-submit="appForm.$valid && save()" class="form-horizontal" novalidate >
         		<div class="modal-body">
 			           <div class="form-group">
             				<label class="col-md-4 control-label" for="app-id">Context</label>  
             				<div class="col-md-5">
             					<input id="app-id" name="app-id" ng-model="app.id" value="{{app.id}}" class="hidden"/>
             					<input id="context" name="context" ng-model="app.context" type="text" class="form-control input-md" required>
             				</div>
             		  </div>
 				
             		  <div class="form-group">
             				<label class="col-md-4 control-label" for="language">Language</label>  
             				<div class="col-md-5">
             					<input id="language" name="language" ng-model="app.language" type="text" class="form-control input-md" required>
             				</div>
             		  </div>
         		</div>
         		<div class="modal-footer">
					<button id="save" type="submit" name="save" class="btn btn-primary">Save</button>
             		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
         		</div>
           	</form>
     	</script>  
 	</div>