<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app-monitor">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>APP Monitor :: Lab Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <!-- Custom styles for this template -->
    <link href="css/vendor/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/vendor/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">APP Monitor</h3>
      </div>
      
	  <div ng-controller="ServerController as serverCtrl">
		  <accordion close-others="false">
			    <accordion-group heading="" ng-repeat="server in servers">
				    <accordion-heading>
			            {{server.dns || server.ip}}
			            <div class="pull-right"> 
			            <button type="button" ng-click="edit(server)" class="btn btn-default btn-sm btn-edit" title="Edit">
			                 <span class="glyphicon glyphicon-pencil"></span>
			              </button>
			              
			              <button type="button" ng-click="remove(server)" class="btn btn-default btn-sm btn-remove" title="Remove it!">
			                 <span class="glyphicon glyphicon-remove"></span>
			             </button>
			            </div>
			        </accordion-heading>
			      	<p>The body of the accordion group grows to fit the contents</p>
			        <button type="button" class="btn btn-default btn-sm" >Add Item</button>
			    </accordion-group>
		  	</accordion>
	  	
		   <form id="server-form" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">IP</label>  
				<div class="col-md-5">
					<input id="server-id" name="server-id" ng-model="server.id" value="{{server.id}}" class="hidden"/>
					<input id="ip" name="ip" ng-model="server.ip" type="text" class="form-control input-md" required="">
				</div>
			</div>
				
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">DNS</label>  
				<div class="col-md-5">
					<input id="dns" name="dns" ng-model="server.dns" type="text" class="form-control input-md" >
				</div>
			</div>
				
			<div class="form-group">
				<label class="col-md-4 control-label" for="so">O.S</label>  
				<div class="col-md-5">
					<input id="so" name="so" ng-model="server.so" type="text" class="form-control input-md" required="">
				</div>
			</div>
				
			<div class="form-group">
				<label class="col-md-4 control-label" for="distribution">Distribution</label>  
				<div class="col-md-5">
					<input id="distribution" ng-model="server.distro" name="distribution" type="text" class="form-control input-md">
				</div>
			</div>
				
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="save"></label>
			<div class="col-md-4">
				<button id="save" name="save" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
			</div>
		</form>
 	</div>

      <footer class="footer">
        <p>Haxors Lab &copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/vendor/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="js/vendor/ui-bootstrap-0.13.3.min.js"></script>
    <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls-0.13.3.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
  </body>
</html>

